/**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: black; }
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right; }
    header ul li {
      list-style: none; }
      header ul li a {
        text-decoration: none;
        color: #09f509;
        font-weight: bold;
        font-family: sans-serif;
        padding: 2px; }

main {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none; }
  main h1 {
    font-family: sans-serif;
    color: #09f509; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 5px;
  color: #09f509; }

/* media-querry */
/*media 768px*/
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }

@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
