.card-proyecto {
    padding: 0.5rem;
}

.proyectoChico {
    display: flex;
    flex-direction: column;
    justify-content: left;
    transition: 100ms;
    border-style: solid;
    border-color: $colAzulClaro;
    border-width: 2px;
    border-radius: 5px;

    &:hover {
        background-color: $colBlanco;
        border-style: solid;
        border-color: $colAzulMedio;
        border-width: 1px;
    }
    &:hover __nombre {
        color: $colAzulOscuro;
    }
    &:hover .proyectoChico__imagen {
        transform: scale(1.01);
    }
    &__nombre {
        font-size: $fontS;
        color: $colAzulMedio;
        padding: 0 1rem;
        text-decoration: none;
        min-height: 4.5rem;
    }
    &__imagen {
        padding: 1rem;
    }
}

@media only screen and (max-width: 600px) {
   
    .proyectoChico__nombre {
        display: none;
    }
    .proyectoChico__imagen {
        padding: 0.5rem;
    }
}